@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="img/Netflix_Symbol_RGB.png" style="width: 25%;">
    <h1>Bem-vindo ao ñetflix</h1>
</div>
<br>
<div class="d-flex flex-wrap justify-content-around">
    @foreach (Series item in ViewBag.Series)
    {
        <div class="card" style="width: 30%;">
        <img src="@item.imagenSerie" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.nombre</h5>
                <p class="card-text">@item.sinopsis</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarInfoSerie(@item.idserie)">Informacion</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarInfoTemporadas(@item.idserie)">Temporadas</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal" onclick="MostrarInfoActores(@item.idserie)">Actores</button>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="titulo">Modal title</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 id="subtitulo"></h4>
                <p id="info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>